<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finger.jjal" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- kakao -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="c14405e5bb394aabcb6a34dbfc8427c7" />

        <!-- Loading -->
        <activity
            android:name=".loading.LoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- login.Login -->
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- login.Privacy -->
        <activity
            android:name=".login.PrivacyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- login.AccessTerm -->
        <activity
            android:name=".login.AccessTermActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- register.Register -->
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- jjal.JialList -->
        <activity
            android:name=".jjal.JjalListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- jjal.Jial -->
        <activity
            android:name=".jjal.JjalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
